<% provide(:title, 'About') %>
<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, saepe! Reprehenderit placeat, dicta vero hic saepe itaque voluptates eveniet minus tempore, distinctio amet quae sunt odio, doloremque, cupiditate omnis. Ut.
</p>

